
#home{
    background-image: url('https://i.pinimg.com/originals/12/cf/dc/12cfdcbb2320824919f1f1b119591d39.jpg');
}


.introtext{
    font-weight: 500;
}

.img1 {
    background-size: 45rem 50rem;
    background-repeat: no-repeat;
}

.img2 {
    background-size: 45rem 30rem;
    background-repeat: no-repeat;
}

.a1{
 color: white;
 text-decoration: none;
}

.a2{
  
    text-decoration: none;
   }