.img1 {
    background-size: 45rem 50rem;
    background-repeat: no-repeat;
}

.img2 {
    background-size: 45rem 30rem;
    background-repeat: no-repeat;
}

.a1{
 color: white;
 text-decoration: none;
}

.a2{
  
    text-decoration: none;
   }